<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean id="crs" class="com.dheerendra.beans.CourseMaterial">
	<property name="name" value="Spring"/>
	<property name="pageNum" value="1212"/>
	</bean>
	
	<bean id="stud" class="com.dheerendra.beans.Student" dependency-check="simple" >
	<property name="sno" value="12"/>
	<property name="sname" value="Dheerendra"/><!-- 
	<property name="course" ref="crs"/> -->
	
	</bean>

</beans>