<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">
	<context:annotation-config />


	<bean id="eng1" class="com.dheerendra.beans.Engine">
		<property name="id" value="0312" />
		<property name="type" value="crd" />
		<qualifier value="e1"></qualifier>
	</bean>
	<bean id="eng" class="com.dheerendra.beans.Engine">
		<property name="id" value="12" />
		<property name="type" value="crd" />
		<qualifier value="e"></qualifier>
	</bean>



	<bean id="viechle" class="com.dheerendra.beans.Viechle" />



</beans>