<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="base1yrs" class="com.dheerendra.beans.EngineeringCourse"
		abstract="true">
		<property name="subjects">
			<list>
				<value>Physics</value>
				<value>chemistry</value>
			</list>
		</property>



	</bean>
	<bean id="ECE1yrs" class="com.dheerendra.beans.EngineeringCourse"
		parent="base1yrs">
		<property name="subjects">
			<list>
				<value>Digital elec</value>
				
			</list>

		</property>


	</bean>
</beans>