<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- Cfgs for ConsoleAppender and PatternLayout -->
<!-- <log4j:configuration 	xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="app1" class="org.apache.log4j.ConsoleAppender">
	    <layout class="org.apache.log4j.PatternLayout">
		    <param name="ConversionPattern"
		          value="%-5p %d{yyyy-MM-dd HH:mm:ss} %c{1}:%L - %m%n" />
	         </layout>
	</appender>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="app1" />
	</root>
 -->
 >	<appender name="app1" class="org.apache.log4j.FileAppender">
	     <param name="file" value="App1.log" />
	     <param name="append" value="true" />
	    <layout class="org.apache.log4j.PatternLayout">
		    <param name="ConversionPattern"
		          value="%-5p %d{yyyy-MM-dd HH:mm:ss} %c{1}:%L - %m%n" />
	         </layout>
	</appender>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="app1" />
	</root>
</log4j:configuration>