<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="eng" class="com.dheerendra.beans.Enginee"/>
	
	<bean id="vch" class="com.dheerendra.beans.Viechel">
	<property name="beanId">
		<idref bean="eng"/>
	</property>
	</bean>

</beans>